menu "ESP Wi-Fi Radar Configuration"
    config CSI_PACK_NUM
        int "Number of data packets in one analysis"
        default 50
        help
            Number of data packets in one analysis
endmenu
